div.Banner {
            height: 100px;
            background-color: #000;
            display:flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 4px;
            margin-bottom: 1px;
}

nav{
           margin-left: 20px;
           margin-right: 20px;
}

div.Main{
            height: 1000px;
            background: #999;
            display: flex;
            justify-content: center;
            margin-left: 20px;
            margin-right: 20px;
}



#footer{
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    padding: 20px;
    color: #fff;
    background:#333;
};