main.kleding{
    padding: 15px;
}

.kleding-foto{
    position:relative;
    height: 200px;
    background-color: black;
}

.sidebar{
            display: block;
            height: 700px;
            width: 19%;
            margin-top: 15px;
            margin-right: 10px;
            padding-top: 20px;
            float: left;
            background-color: white;
}

.kleding-keuze{
            height: 700px;
            width: 80%;
            margin-top: 15px;
            float: left;
            background-color: yellow;
}