main.kleding{
    padding: 15px;
}

.kleding-foto{
    position:relative;
    height: 200px;
    background-color: black;
}

.sub-kleding-keuze{
            height: 700px;
            width: 80%;
            margin-top: 15px;
            float: left;
            background-color: yellow;
    
    &__kp{
            display: block;
            height: 300px;
            width: 300px;
            margin: 10px;
            float: left;
            background-color: black;
    }
    
     &__kp2{
            display: block;
            height: 300px;
            width: 300px;
            margin: 10px;
            float: left;
            background-color: black;
    }
    
     &__kp3{
            display: block;
            height: 300px;
            width: 300px;
            margin: 10px;
            float: left;
            background-color: black;
    }
    
     &__kp4{
            display: block;
            height: 300px;
            width: 300px;
            margin: 10px;
            float: left;
            background-color: black;
    }
    
     &__kp5{
            display: block;
            height: 300px;
            width: 300px;
            margin: 10px;
            float: left;
            background-color: black;
    }
    
}